{% extends "base.html" %}

{% block content %}

<div class="form-body">
    <div class="form-container">
        <div class="form-title">New Product</div>
        <form action="/products" method="post">

        <div class="form-details">
            <div class="form-input-box">
                <span class="details"><label for="name">Name of Product:</label></span>
                <input type="text" id="name" name="name" placeholder="Name" required autofocus>
            </div>

            <div class="form-input-box">
                <span class="details"><label for="price">Price of Product:</label></span>
                <input type="text" id="price" name="price" placeholder="Price" required autofocus>
            </div>
        </div>

            <button type="submit">Add Product</button>

        </form>
    </div>
</div>

{% endblock %}