.white-text {
    color: whitesmoke;
}

body {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

header {
    background-color: #283593;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    padding: 0 45px;
    margin: 0;
}

header > nav > ul {
    display: flex;
    list-style: none;
}

header > nav > ul > li {
    padding-left: 2em;
    justify-content: center;
}

main {
    padding: 60px 45px;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
}

main > div {
    max-width: 760px;
}

main > h1 {
    font-weight: normal;
    font-size: 3rem;
}

section > div {
    /* display: flex; */
    padding: 10px 20px;
}

li > a {
    display: block;
    transition: all 0.5s ease-out;
}

a, a:link, a:visited {
      color: whitesmoke;
      text-decoration: none;
  }

 a:hover, a:active, a:focus {
      color: #dcdc37;
      transform: rotate(6deg);
  }


/* TABLE STYLE */

.table-div{
    display: flex;
    justify-content: center;
}

table {
    width: 80%;
    border: 1px solid;

}

th, td {
    /* border-bottom: 1px solid #ddd; */
    padding: 2px;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
}

tr:nth-child(even) {
    background-color: darkslategray;
    color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: darkgrey;
    color: whitesmoke;
}

th {
    background-color: #3949ab
}

td > a {
    color: black
}

/* BUTTON STYLE */

.button {
    background-color: #3949ab;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    display: inline-block;
}

/* USER STYLE */

.users {
    padding: 60px 45px;
}

.users-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 25%);
    grid-column-gap: 45px;
    grid-row-gap: 45px
}

.featured-user {
    height: 10rem;
    width: 10rem
}

/* MERCHANTS STYLE */

.merchants-div {
    display: grid;
    grid-column: auto;
}

.row-div {
    display: flex;
    justify-content: center;
}

.merchant-button {
    justify-content: space space-between;
}

/* FORM STYLE */

.form-body {
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

.form-container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.form-container .form-title {
    font-size: 25px;
    font-weight: 500;
}

.form-container form .form-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-details .form-input-box select {
    height: 30px;
    width: 100%;
}

.form-details .form-input-box .details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

form .form-details .form-input-box {
    margin: 20px 0 12px 0;
}

form .form-button {
    height: 45px;
    margin: 45px 0;
    border-radius: 5px;
}