.white-text {
    color: whitesmoke;
}

.black-text {
    color: black;
}

body {
    background-color: #4ca1af;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

header {
    background-color: #283593;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    padding: 0 45px;
    margin: 0;
    grid-area: header;
}

header > nav > ul {
    display: flex;
    list-style: none;
}

header > nav > ul > li {
    padding-left: 2em;
    justify-content: center;
}

main {
    padding: 60px 45px;
    display: flex;
    justify-content: center;
}

main > div {
    max-width: 760px;
}

main > h1 {
    font-weight: normal;
    /* font-size: 4rem; */
}

section > div {
    /* display: flex; */
    padding: 10px 20px;
}

li > a {
    display: block;
    transition: all 0.5s ease-out;
}

a, a:link, a:visited {
      color: whitesmoke;
      text-decoration: none;
  }

 a:hover, a:active, a:focus {
      color: #dcdc37;
      transform: rotate(6deg);
  }


/* TABLE STYLE */

table {
    width: 80%;
    border: 1px solid;
}

th, td {
    /* border-bottom: 1px solid #ddd; */
    padding: 2px;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}

th {
    background-color: #dcdc37;
}

td > a {
    color: black
}

/* USER BUTTON STYLE */

/* div > p {
    width: 20%;
    height: 20%
} */