<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css2?family=McLaren&family=Roboto+Mono:wght@200;400&display=swap' rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Spending Tracker</title>
</head>

<body>
    
    <header class="white-text">
        <h1>Spending Tracker</h1>
        <nav>
            <ul>
                <li>
                    <a href="/users">Users</a>
                </li>
                <li>
                    <a href="/transactions">My Transactions</a>
                </li>
                <li>
                    <a href="/merchants">My Merchants</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
    
        {% endblock%}
    </main>
</body>

</html>