{% extends "base.html" %}

{% block content %}

<div class="form-body">
    <div class="form-container">
        <div class="form-title">New Merchant</div>

        <form action="/merchants/{{ merchant.id }}" method="post">

            <div class="form-details">
                <div class="form-input-box">
                    <span class="details"><label for="name">Name of Merchant:</label></span>
                    <input type="text" id="name" name="name" value="{{ merchant.name }}" required autofocus>
                </div>
            </div>

            <button type="submit" class="form-button">Update Merchant</button>
    </div>
    </form>
</div>

{% endblock %}