{% extends "base.html" %}

{% block content %}

<h1>Merchants</h1>

<div class="merchants-div">

        <section class="row-div">

            <div>
                {% for merchant in merchants %}
                <a href="/merchants/{{ merchant.id }}" class="button">
                    {{ merchant.name }}
                </a>
                {% endfor %}
            </div>

            <br>
            <a href="/merchants/new" class="button">
                Add New Merchant
            </a>
        </section>

    <h1>Products</h1>

    <section class="row-div">
        
        <div>
            {% for product in products %}
            <a href="/products/{{ product.id }}" class="button">
                {{ product.name }}
            </a>
            {% endfor %}
        </div>

        <br>
        <a href="/products/new" class="button">
            Add New Product
        </a>
    </section>


    <h1>Categories</h1>

    <section class="row-div">

        <div>
            {% for tag in all_tags %}
            <a href="/categories/{{ tag.id }}" class="button">
                {{ tag.category }}
            </a>
            {% endfor %}
        </div>

        <br>
        <a href="/categories/new" class="button">
            Add New Category
        </a>
    </section>
</div>

{% endblock content %}