{% extends "base.html" %}

{% block content %}

<div class="form-body">
    <div class="form-container">
        <section>
            <div class="form-title">{{ merchant.name }}</div>
            <div>
                <h2>Total paid to {{ merchant.name }} - £{{total.total_paid}}</h2>
                <a href="/merchants/{{ merchant.id }}/edit" class="table-button">
                    Edit {{ merchant.name }}
                </a>
                <a href="/merchants/{{ merchant.id }}/delete" class="table-button">
                    Delete {{ merchant.name }}
                </a>
            </div>
        </section>
    </div>
</div>

<section class="table-body">
    <div class="table-div">
        <table>
            <tr>
                <th>User</th>
                <th>Price</th>
                <th>Item</th>
                <th>Merchant</th>
                <th>Category</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>

            {% for transaction in transactions %}
            <tr>
                <td><a href="/users/{{ transaction.user.id }}">{{ transaction.user.first_name }} {{ transaction.user.last_name}}</a></td>
                <td>£ {{ transaction.price }}</td>
                <td><a href="/products/{{ transaction.product.id }}">{{ transaction.product.name }}</a></td>
                <td><a href="/merchants/{{ transaction.merchant.id }}">{{ transaction.merchant.name }}</a></td>
                <td><a href="/categories/{{ transaction.tag.id }}">{{ transaction.tag.category }}</a></td>
                <td>{{ transaction.date }}</td>
                <td><a class="table-button" href="/transactions/{{ transaction.id }}/edit">Edit</a></td>
                <td><a class="table-button" href="/transactions/{{ transaction.id }}/delete">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</section>

{% endblock content %}