{% extends "base.html" %}

{% block content %}

<div class="form-body">
    <div class="form-container">
        <section>
            <div class="form-title">{{ user.first_name }}'s Account</div>
            <div>
                <h3>First Name:</h3>
                <p>{{ user.first_name }}</p>

                <h3>Last Name:</h3>
                <p>{{ user.last_name }}</p>

                <h3>Age:</h3>
                <p>{{ user.age }}</p>

                <h3>Account Balance:</h3>
                <p>{{ user.wallet }}</p>

                <h3>Total spent by {{ user.first_name }}</h3>
                <p>{{ total.total_paid }}</p>

                <a href="/users/{{ user.id }}/edit" class="table-button">
                    Edit {{ user.first_name }}'s Account
                </a>

                <a href="/users/{{ user.id }}/delete" class="table-button">
                    Delete {{ user.first_name }}'s Account
                </a>
            </div>
        </section>
    </div>
</div>


<section class="table-body">
    <div class="table-div">
        <table>
            <tr>
                <th>User</th>
                <th>Price</th>
                <th>Item</th>
                <th>Merchant</th>
                <th>Category</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>

            {% for transaction in transactions %}
            <tr>
                <td><a href="/users/{{ transaction.user.id }}">{{ transaction.user.first_name }} {{ transaction.user.last_name}}</a></td>
                <td>£ {{ transaction.price }}</td>
                <td><a href="/products/{{ transaction.product.id }}">{{ transaction.product.name }}</a></td>
                <td><a href="/merchants/{{ transaction.merchant.id }}">{{ transaction.merchant.name }}</a></td>
                <td><a href="/categories/{{ transaction.tag.id }}">{{ transaction.tag.category }}</a></td>
                <td>{{ transaction.date }}</td>
                <td><a class="table-button" href="/transactions/{{ transaction.id }}/edit">Edit</a></td>
                <td><a class="table-button" href="/transactions/{{ transaction.id }}/delete">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</section>


{% endblock content %}