{% extends "base.html" %}

{% block content %}

<h1> {{ user.first_name }}'s Account:</h1>

<h3>First Name:</h3>
<p>{{ user.first_name }}</p>

<h3>Last Name:</h3>
<p>{{ user.last_name }}</p>

<h3>Age:</h3>
<p>{{ user.age }}</p>

<h3>Account Balance:</h3>
<p>{{ user.wallet }}</p>

<h3>Total spent by {{ user.first_name }}</h3>
<p>{{ total.total_paid }}</p>

<p align="center"><a href="/users/{{ user.id }}/edit">
    <button>
        Edit {{ user.first_name }}'s Account
    </button></a>
</p>
<p align="center"><a href="/users/{{ user.id }}/delete">
    <button>
        Delete {{ user.first_name }}'s Account
    </button></a>
</p>

<section class="table-body">
    <div class="table-div">
        <table>
            <tr>
                <th>User</th>
                <th>Price</th>
                <th>Item</th>
                <th>Merchant</th>
                <th>Category</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>

            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.user.first_name }} {{ transaction.user.last_name }}</td>
                <td>£ {{ transaction.price }}</td>
                <td>{{ transaction.product.name }}</td>
                <td>{{ transaction.merchant.name }}</td>
                <td>{{ transaction.tag.category }}</td>
                <td>{{ transaction.date }}</td>
                <td><a class="table-button" href="/transactions/{{ transaction.id }}/edit">Edit</a></td>
                <td><a class="table-button" href="/transactions/{{ transaction.id }}/delete">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</section>


{% endblock content %}