{% extends "base.html" %}

{% block content %}

<div class="form-body">
    <div class="form-container">
        <div class="form-title">New User</div>

        <form action="/users/{{ user.id }}" method="post">

            <div class="form-details">
                <div class="form-input-box">
                    <span class="details"><label for="first_name">First Name:</label></span>
                    <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required autofocus>
                </div>

                <div class="form-input-box">
                    <span class="details"><label for="last_name">Last Name:</label></span>
                    <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" required>
                </div>

                <div class="form-input-box">
                    <span class="details"><label for="age">Age:</label></span>
                    <input type="number" id="age" name="age" value="{{ user.age }}" required>
                </div>

                <div class="form-input-box">
                    <span class="details"><label for="wallet">Wallet:</label></span>
                    <input type="number" id="wallet" name="wallet" value="{{ user.wallet }}"
                        required>
                </div>
            </div>


            <button type="submit" class="form-button">Add User</button>

        </form>
    </div>
</div>


{% endblock content %}