{% extends "base.html" %}

{% block content %}

<h1>Users:</h1>
<br>


<section class="users">
    <div class="users-inner">

    {% for user in users %}
        <div class="featured-user">
            <a class="button" href="/users/{{ user.id }}">
                {{ user.first_name }} {{ user.last_name }}<br>
                Age: {{ user.age }}<br>
                Wallet: {{ user.wallet }}
            </a>
        </div>
    {% endfor %}
        <div class="featured-user">
            <a href="/users/new" class="button">
                Add New User
            </a>
        </div>
    </div>
</section>

{% endblock content %}